body {
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
#logo{
    padding-right: 30px;
    padding-left: 80px;
}


.nav{
    background-color: #0080C0;
    width: 90%;
}

.nav>li{
    float: left;
    margin-right: 15px;
}
 
.nav>li>a{
    text-transform: uppercase;
    color: rgb(23, 9, 150);
}

.nav li{
    position: relative;
}

.nav li a{
    padding: 10px;
    line-height: 20px;
    display: inline-block;
}

.nav .sub-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: #374db1;
    color: white;
    padding: 5px 20px;
}

.sub-menu {
  z-index: 10;
}
 
.nav li:hover>.sub-menu{
    display: block;
}

.nav>li>.sub-menu{
    top: 40px;
    left: 0;
}


nav{
     background-color: rgba(44, 108, 173, 0.82);
     width: 100%;
     border-width: 1px;
     border-style: solid;
     border-color: rgb(175, 169, 169);
}
nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}
nav a{
    display:inline-block;
    padding:10px;
    font-size:13px;
    color:white;
    text-decoration:none;
    list-style: none;
}
nav a:hover{
    background-color:rgb(14, 43, 170);
    width: 100%;
}
.nav li a{
    text-decoration: none;
}
.mySlides{
    width:80%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* #myCarousel img:not(:first-child) {display: none;} */

.container{
  width:80%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}
.t4-items{
  margin-top: 30px;
  display: flex;
}
.t4-items #items{
  width: 240px; 
  height: 240px;
  margin-left: 12.5px;;
  margin-right: auto;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color:#F3F5F6;;
  color: black;
  float: left;
  font-size: 17px;
  display: block;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    border: 0.2px solid rgba(34, 84, 134, 0.2);
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(36, 31, 31);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#tt {background-color: white}
#News {background-color: white;}
#tv {background-color: white;}
#av {background-color: white;}
#tb {background-color: white;}
#footer {
  color: #EAEAEA;
  background-color: rgba(44, 108, 173, 0.82);
  padding: 20px 0;
  margin-top: 20px;
}